# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

##on:
  ###schedule:
    # * is a special character in YAML so you have to quote this string
   # - cron:  '30 2 * * *'
on: push
  #push:
    #paths:
     # - 'wiki/**'
    #branches:
     # - master

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v3
       with:
             repository: ${{RichMar/hello-world-python-action}}.wiki    # specify the wiki repo name here.
     - name: check wiki repo content
       run: |
          ls -al
     - name: Set up Python 3.10
       uses: actions/setup-python@v3
       with:
         python-version: "3.10"
     - name: edit wiki
       run: |
          python wikipg.py
     - name: Commit files
       run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add .
        git commit -m "Add changes"
     - name: Push changes to wiki repo
       uses: ad-m/github-push-action@master
       with:
        repository: ${{github.repository}}.wiki    # specify the wiki repo and push the update.
        github_token: ${{ secrets.GITHUB_TOKEN }}
