# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

##on:
  ###schedule:
    # * is a special character in YAML so you have to quote this string
   # - cron:  '30 2 * * *'
on: push
  #push:
    #paths:
     # - 'wiki/**'
    #branches:
     # - master

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
     - name: Checkout
       uses: actions/checkout@v3
     - name: check main repo content
       run: |
          ls -al
         # find src
          
     - name: Checkout wiki code
       uses: actions/checkout@v3
       with:
             repository: ${{github.repository}}.wiki    # specify the wiki repo name here.
             path: markdown
     - name: check wiki repo content
       run: |
          ls -al

     - name: Set up Python 3.10
       uses: actions/setup-python@v3
       with:
         python-version: "3.10"
     - name: edit wiki
       run: |
           python wikipg.py
           
     - name: Push changes
       uses: ad-m/github-push-action@master
       with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: ${{ github.ref }}
        
    #  - name: Check git
   #     run: |
     #    cd markdown
     #    ls -al
     #    git status
     #    git show-ref
      #   git config user.name github-actions
      #   git config user.email github-actions@github.com
     #    git fetch origin master
     #    git pull origin master
     #   git add -A
      #   git commit -a -m "Added my project markdown"
       #  git push origin master  
        
     # - name: Commit files
      #  run: |
       #  git config --local user.email "action@github.com"
       #  git config --local user.name "GitHub Action"
       #  git add .
       #  git commit -m "Add changes"
     # - name: Push changes to wiki repo
      #  run: |
      #   cd markdown
      #   git config --local user.email "action@github.com"
      #   git config --local user.name "GitHub Action"
      #   git add .
      #  git diff-index --quiet HEAD || git commit -m "Add changes" && git push
